.elevator {
  background-color: rgb(126, 126, 126) !important;
  border-color: black !important;
  color: black !important;
}

.current {
  color: deepskyblue !important;
  margin: 0;
}

select {
  background-color: darkgray !important;
  border-color: black  !important;
}