.elevator {
  background-color: rgb(66, 66, 66) !important;
  border: 3px solid grey !important;
}

h5 {
  color: black !important;
}

.status {
  color: goldenrod;
  margin: 0;
}

.destination {
  color: rgb(255, 0, 55) !important;
  margin: 0 0 8px 0;
}

.current {
  color: rgb(32, 218, 110) !important;
  margin: 10px 0 0 0;
}

select {
  background-color: lightgrey !important;
  border-color: black  !important;
}